 .App {

  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d0{
  background-color: rgb(240, 182, 182);
  text-align: center;
}
.drawer-container {
  display: flex;
}

.drawer {
  width: 250px;
  background-color: #333;
  color: white;
  transition: transform 0.3s;
  transform: translateX(-250px);
}

.drawer.open {
  transform: translateX(0);
}

.content {
  flex: 1;
  padding: 20px;
}

button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
}

li:hover {
  background-color: #555;
}

.d1{
  
  margin-top: 30px;
  height: 50vh;
  text-align: -webkit-center;
  background-color: beige;
  background-image: url('../public/image/aud.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}
.d00{
  color:aliceblue ;
  background-color: black;
  height: 30vh;
  margin-top: -26px;
}
body{
  margin: 1px;

  text-align: center;
}
.g00{
  text-align: justify;
  font-size: 24px;
  font-weight: 500;
 
}
.coont{
  margin-top: 5px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.g01{
  height: 100%;
  width: 100%;
  background-image: url('../public/image/bg2.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



.p00{
  text-decoration: underline;
}
.b0{
  margin-top: -5px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
color: #000000;
}
.b0:hover{
  text-decoration: underline;
}
.b1{
  margin-top: -5px;
  font-size: 15px;
  display: flex;
  flex-direction: row ;
color: rgb(0, 0, 0);
}
.b1:hover{
  text-decoration: underline;
}
.b2{
  margin-top: -5px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
color: #000000;
}
.b2:hover{
  text-decoration: underline;
}
.div00{
  padding: 40px;
margin-left: 30px;
}
.div01{
  padding: 40px;
margin-left: 30px;
}
button{
  font-size: 15px;
  color: #000000;}
button:hover{
text-decoration: underline;

}
.btn00{
  margin-top: 40px;
  border-radius: 10px;
  font-size: 30px;
  background-color: #fd8f07;
  font-size: 10px;
  color: #000000;
}
.btn00:hover{
  text-decoration: underline;
}
.search-bar-container{
  margin-top: 30px;
}
.p01{
  margin-top: 40px;
  font-size: 20px;
  font-weight: 700;
}
.p02{
  margin-top: -5px;
  font-weight: 600;
  margin-bottom: 40px;
}
.p03{
  margin-bottom: 40px;
  font-weight: 600;
}
.img0{
height: auto;
width: auto;
border-radius: 50%;
}
.img1{
  height: auto;
  width: auto; 
  border-radius: 50%;
}
.img2{
  height: auto;
  width: auto; 
  border-radius: 50%;
}
.pp0{
  margin-top: -15px;
  margin-bottom: 2px;
}
.pp1{
  margin-top: 1px;
}
.h000{
  margin-left: 20px;
}
.p001{
  margin-left: 20px;
  margin-top: -20px;
  font-size: 17px;
}
.p000{
  margin-left: 40px;
  font-size: 15px;
}
.h00{
  padding-top: 10px;
}
.bb00{
  height: auto;
  width: -webkit-fill-available;
}
.btn000{
  margin-left: 40px;
  border-radius: 10px;
    font-size: 30px;
    background-color: #fd8f07;
    font-size: 10px;
    color: #000000;
}
.p04{
  font-size: 10px;
  margin-left: 40px;
}
.p05{
  font-size: 10px;
  margin-left: 40px;
}
.poi{
  color: white;
  font-size: 41px;
  font-weight: 700;
}.poj{
  color: white;
  font-size: 30px;
  margin-top: -25px;
  font-weight: 700;
}
.cvb{
 display: block;
  padding-top: 10px;
  text-align: justify;
}
.btn00000 {
  margin-left: 40px;
  border-radius: 10px;
  font-size: 30px;
  background-color: #fd8f07;
  font-size: 13px;
  color: #000000;
}
.icon{
  font-size: small;
}
.dfdd{
  display: flex;
    flex-direction: row;
}
.bfbf{
  display: grid;
}
.poop{
  margin-left: -120px;
  font-weight: 700;
}
@media screen and (max-width: 600px) {
  .poop{
    margin-left: -120px;
    font-weight: 700;
  }
  .g00{
    text-align: justify;
    font-size: 15px;
  }
.p000{
  font-size: 8px;
  margin-left: 8px;
}
.d1{
  height: 40vh;
  text-align: -webkit-center;
  background-color: beige;
  background-image: url('../public/image/aud.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}


.div00 {
  margin-top: 5px;
  padding: 0px;
  margin-left: 0px;
}

.img0{
  width: -webkit-fill-available;
}
.img1{
  width: -webkit-fill-available;
}
.img2{
  width: -webkit-fill-available; 
}
.d1{
  height: 12vh;
    text-align: center;
    background-color: beige;
    /* background-size:contain; */
    background-repeat: no-repeat;
}
.h00{
  padding: 12px;
    font-size: 18px;
}
.p0p{
  margin-top: -5px;
  font-size: 11px;
}
.p01 {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
}

.p02 {
  margin-top: -10px;
  font-weight: 500;
  margin-bottom: 40px;
}

.div01{
  margin-top: 5px;
  padding: 0px;
  margin-left: 0px;

  text-align: -webkit-center;
}
.div00{
  margin-top: 5px;
  padding: 0px;
  margin-left: 0px;

  text-align: -webkit-center;
}
.p001 {
  margin-left: 0px;
  margin-top: -20px;
  font-size: 10px;
}
.h000 {
  margin-left: -2px;
}
.btn000 {
  margin-left: 25px;
  border-radius: 10px;
  font-size: 30px;
  background-color: #fd8f07;
  font-size: 7px;
  color: #000000;
}
.p04 {
  font-size: 8px;
  margin-left: 26px;
}
.bdcd{
  width: 60%;
  margin-left: 0px;
}

.poi{
  display: none;
}
.poj{
  display: none;
}
.btn00000{
  display: none;
}
.p05{
  display: none;
}
.hyhy{
  
  font-size: 15px;
}
.b0 {
  margin-top: -5px;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  color: #000000;
}

.b1 {
  margin-top: -5px;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  color: rgb(0, 0, 0);
}
.b2 {
  margin-top: -5px;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  color: #000000;
}
.pp1 {
  font-size: small;
  margin-top: 1px;
}
.pp0 {
  font-size: small;
  margin-top: -15px;
  margin-bottom: 2px;
}
.iiii0{
  width: 65%;
}
.icon{
  font-size: small;
}
}
